/* CSS Sponsors */

.Sponsors ul{
        display: block;
}

.Sponsors li{
	display: inline-block;
        list-style: none;
        width: 25%;
        height: 25%;
	margin: 10px;
}

.Sponsors img{
        height: 100%;
        width: 100%;
}


